body {
    background-color: pink;
}

header {
    display: flex;
    font-family: cursive;
}

#catPicture {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
   }

#catPicture1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200x;
    height: 200px;
   }

#catPicture2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200x;
    height: 200px;
   }
   #catPicture3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 200px;
   }


h1 {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}